@use '../../styles/variables' as *;

footer {
  border-top: 1px solid #d9dbd0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 10px;
  color: #5b6357;
}

@media (max-width: 800px) {
  footer {
    flex-wrap: wrap;
  }
}
